<div id="<%= dom_id book %>">
  <p>
    <strong>Author last:</strong>
    <%= book.author_last %>
  </p>

  <p>
    <strong>Author first:</strong>
    <%= book.author_first %>
  </p>

  <p>
    <strong>Title:</strong>
    <%= book.title %>
  </p>

  <p>
    <strong>Pages:</strong>
    <%= book.pages %>
  </p>

  <p>
    <strong>Finish date:</strong>
    <%= book.finish_date %>
  </p>

</div>
