<p style="color: green"><%= notice %></p>

<h1>unfinished books</h1>

<div id="books">
  <table>
    <th>
      <td>First</td>
      <td>Last</td>
      <td>Title</td>
      <td>Pages</td>
    </th>
    <% @books.each do |book| %>
        <tr>
          <td></td>
          <td><%= book.author_first %></td>
          <td><%= book.author_last %></td>
          <td><%= book.title %></td>
          <td><%= book.pages %></td>
          <td>
            <%= button_to "Remove", {:controller => :books,
                                      :action => 'destroy', :id => book.id },
                                      class: "btn btn-danger",
                                      :method => :delete %>
            <%= button_to "Update", {:controller => :books,
                                      :action => 'edit', :id => book.id },
                                      class: "btn btn-primary",
                                      :method => :get %>
          </td>
        </tr>
    <% end %>
  </table>
</div>

<%= link_to "New book", new_book_path %>